* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

*::-moz-selection {
  background: #f34f3f;
  color: white;
}

*::selection {
  background: #f34f3f;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
          box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  opacity: .8;
  width: 100%;
}

.sticky:hover {
  opacity: 1;
}

.sticky .icons {
  display: none;
}

.climbup {
  position: fixed;
  width: 42px;
  height: 42px;
  right: 25px;
  bottom: 25px;
  line-height: 40px;
  z-index: 10000;
  background: #f34f3f;
  text-align: center;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.climbup .upper {
  font-size: 15px;
  color: white;
  position: absolute;
  right: 38%;
  top: 31%;
}

.climbup .lower {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 100%;
  right: 38%;
}

a {
  text-decoration: none !important;
  color: white;
}

.activeline {
  text-decoration: underline !important;
}

.searchIcon {
  cursor: pointer;
  font-size: 13px;
  margin-top: 25px;
  margin-left: 8px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  font-weight: 400;
}

.searchIcon:hover {
  color: #070706;
}

.search-box {
  top: 94% !important;
  right: 74% !important;
  position: absolute !important;
  z-index: 1111111111 !important;
}

.search-box #search-box {
  padding: 10px;
  background-color: white;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.search-box #search-box input::-webkit-input-placeholder {
  color: red;
}

.search-box #search-box input:-moz-placeholder {
  color: red;
}

.search-box a {
  padding: 10px;
  position: absolute;
  right: 18px;
  color: #b5b5b5;
  background-color: transparent;
  border: none;
}

.search-box a:hover {
  color: black;
}

.search-box a i {
  color: #b5b5b5;
  font-size: 16px;
  padding: 0 !important;
  margin: 0 !important;
}

.cartdiv {
  margin-top: -17px;
}

.cartdiv .cart {
  margin-top: -45px;
  text-decoration: none;
  letter-spacing: 1.6px;
  color: #970e0e;
}

.cartdiv .cart:hover {
  color: black;
}

.cartdiv .cart .bag-icon i {
  font-size: 20px;
  position: relative;
  margin-top: 20px;
  margin-left: 30px;
}

.cartdiv .cart .bag-icon i sup {
  border-radius: 50%;
  background: #ec4435;
  width: 12px;
  height: 13px;
  position: absolute;
  top: -3px;
  right: -7px;
  z-index: 12;
  font-size: 10px;
  color: white;
}

.cartdiv .cart .bag-icon i sup p {
  position: absolute;
  top: 6px;
  left: 3px;
}

header {
  height: 115px;
  background-color: #0e0d0d;
}

header nav {
  height: 115px;
  z-index: 1111;
}

header nav .icon {
  font-size: 8px;
}

header nav .bar {
  display: none;
}

header nav .bar:hover {
  display: block;
}

header nav .logo {
  margin-top: 42px;
}

header nav .logo img {
  margin-left: -18px;
  margin-top: 2px;
  width: 211px;
  height: 100%;
}

header nav .navigator a {
  position: relative;
  font-size: 12.5px;
  letter-spacing: 2px;
}

header nav .navigator a:not(.activeline):before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ad0707;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header nav .navigator a:not(.activeline):hover:before {
  visibility: visible;
  width: 100%;
}

header nav {
  background-color: white;
}

header nav .navigator {
  background-color: white;
}

header nav .navigator .margin-left {
  margin-left: 180px;
}

header nav .navigator .main {
  z-index: 20;
  margin-left: 40px;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
}

header nav .navigator .main a {
  text-decoration: none;
  color: black;
  background-color: white;
}

header nav .navigator .main .header {
  z-index: 20;
  position: relative;
}

header nav .navigator .main .option {
  z-index: 99999;
  padding-top: 60px;
  margin-left: -20px;
  line-height: 2.3;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 25%;
  max-width: 100%;
}

header nav .navigator .main .option li:hover .rightsideoptioninfo {
  display: block;
}

header nav .navigator .main .option li:hover .leftsideoptioninfo {
  display: block;
}

header nav .navigator .main .option .leftsideoption .rightsideoption {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .navigator .main .option .rightsideoptioninfo {
  display: none;
  margin-top: -25px;
  cursor: pointer;
  position: absolute;
  width: 100%;
  left: 100%;
  background-color: white;
}

header nav .navigator .main .option .leftsideoptioninfo {
  display: none;
  margin-top: -30px;
  cursor: pointer;
  position: absolute;
  width: 100%;
  right: 87%;
  background-color: white;
}

header nav .navigator .main .option li {
  margin-left: 24px;
  padding-bottom: 8px;
}

header nav .navigator .main .option .subss {
  width: 1100px;
  margin-left: -590px;
  margin-top: -45px;
  padding-top: 25px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

header nav .navigator .main .option .subss .subs {
  margin-left: 20px;
  width: 1100px;
  width: 25%;
}

header nav .navigator .main:hover .option {
  display: block;
}

header nav .cart-dropdown {
  position: relative;
  z-index: 999999;
  top: 100%;
  width: 245px;
  margin-left: -110px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  text-align: left;
  z-index: 1000;
  min-height: 0px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav .cart-dropdown ul {
  margin: 23px 20px;
}

header nav .cart-dropdown ul p {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat",sans-serif;
  border-bottom: 0;
  padding: 15px 0;
}

header nav .cart-dropdown ul li {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  padding: 0 0 15px;
}

header nav .cart-dropdown ul li .image-holder {
  display: inline-block;
  position: relative;
  display: table-cell;
  height: 100%;
  width: 50px;
  vertical-align: top;
}

header nav .cart-dropdown ul li .image-holder img {
  width: 50px;
}

header nav .cart-dropdown ul li .info-holder {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: top;
  padding: 0 25px;
}

header nav .cart-dropdown ul li .info-holder h6 {
  color: #1b1b1b;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

header nav .cart-dropdown ul li .info-holder .quantity, header nav .cart-dropdown ul li .info-holder .amount {
  font-size: 14px;
  color: #afafaf;
}

header nav .cart-dropdown ul li .info-holder .quantity:after {
  content: " X";
}

header nav .cart-dropdown ul li .info-holder .amount::before {
  content: "$";
}

header nav .cart-dropdown ul li .info-holder .remove {
  text-decoration: none;
  position: absolute;
  top: 12px;
  right: 0;
  font-size: 15px;
  line-height: 1;
  color: #f34f3f;
}

header nav .cart-dropdown .cart-bottom {
  position: relative;
  height: 100%;
  width: 100%;
}

header nav .cart-dropdown .cart-bottom .subtotal-holder .amount {
  width: 60%;
  display: inline-block;
  position: relative;
}

header nav .cart-dropdown .cart-bottom .cart-buttons .button {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 35px;
  border-radius: 0px;
  position: relative;
  width: 49.1%;
  font-size: 11px;
  font-family: "Montserrat",sans-serif;
  color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
}

header nav .cart-dropdown .cart-bottom .cart-buttons .view-cart {
  background-color: #f34f3f;
}

header nav .cart-dropdown .cart-bottom .cart-buttons .checkout {
  background-color: black;
}

header .icons {
  margin-top: 0px;
  z-index: 70;
}

header .icons .total {
  margin-left: 5px;
  font-size: 12px !important;
  font-family: 'Montserrat', sans-serif;
}

header .icons .total .price {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

main #slider {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #f3f3f3;
  position: relative;
  min-height: 488px;
  width: 100%;
}

main #slider .line {
  opacity: 0.5;
  top: 35%;
  position: absolute;
  font-size: 44px;
  cursor: pointer;
}

main #slider .left {
  left: 10px;
}

main #slider .right {
  right: 10px;
}

main #slider .text {
  position: absolute;
  top: 18%;
  left: 10%;
  font-family: 'Playfair Display', serif;
  white-space: normal;
  font-weight: 400;
}

main #slider .text span {
  color: red;
}

main #slider .text h2 {
  font-size: 41px;
  min-width: 200px;
  max-width: 347px;
}

main #slider .text p {
  color: gray;
  min-width: 200px;
  max-width: 429px;
  font-size: 17px;
  line-height: 29px;
  font-family: 'Lora', serif;
}

main #slider .sign {
  position: absolute;
  top: 68%;
  left: 10%;
}

main #slider .slideshow {
  width: 100%;
  overflow: hidden;
}

main #slider .slideshow .active {
  opacity: 1 !important;
}

main #slider .slideshow .item {
  opacity: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

main #slider .slideshow .item .leftchevron {
  left: 46px;
}

main #slider .slideshow .item .rightchevron {
  right: 46px;
}

main #slider .slideshow .item span {
  position: absolute;
  top: 37%;
  display: none;
  font-family: "Playfair Display",serif;
  font-size: 20px;
}

main #slider .slideshow .item img {
  height: 488px;
  min-width: 1519px;
  position: relative;
  overflow: hidden;
}

main #shop {
  margin-top: 50px;
}

main #shop .categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 17px;
}

main #shop .categories .activeCategory {
  color: #f34f3f;
}

main #shop .categories li {
  cursor: pointer;
  float: left;
  margin-right: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

main #shop .categories li a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

main #shop .categories li a:hover {
  color: #f34f3f;
}

main #shop .types {
  cursor: pointer;
}

main #shop .types .type {
  display: none;
}

main #shop .types .activetype {
  display: block;
}

main #shop .types .item {
  overflow: hidden;
  margin-top: 15px;
}

main #shop .types .item .text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 295px;
}

main #shop .types .item .text .name {
  font-size: 12px;
}

main #shop .types .item .text .action {
  margin-left: -400px;
  overflow: hidden;
  color: #afafaf;
  font-size: 12px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

main #shop .types .item .text .action:hover {
  color: #f34f3f;
}

main #shop .types .item .text .price {
  color: #afafaf;
  font-size: 12px;
}

main #shop .types .item .image {
  margin-left: 15px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

main #shop .types .item .image img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

main #shop .types .item .image img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

main #shop .types .item .image .expired {
  position: absolute;
  display: block;
  top: 0;
  width: auto;
  height: 30px;
  background: #0e0000;
  color: white;
  font-family: "Lora",serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0 0 12px;
  padding: 6px 13px;
  z-index: 100;
}

main #shop .types .item .image .saleproduct {
  position: absolute;
  display: block;
  top: 0;
  width: auto;
  height: 30px;
  background: #fcfcfc;
  color: #030101;
  font-family: "Lora",serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0 0 12px;
  padding: 5px 13px;
  z-index: 100;
}

main .valentine {
  background-color: #eeeded;
  height: 500px;
  margin-top: 110px;
  padding-top: 90px;
}

main .valentine .valentineVideo {
  overflow: hidden;
  position: relative;
  padding-left: 50px;
}

main .valentine .valentineVideo .videopart {
  position: absolute;
  display: block;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  z-index: 1;
}

main .valentine .valentineVideo .videopart img:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

main .valentine .valentineVideo .videopart img {
  height: 450px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  cursor: pointer;
}

main .valentine .valentineVideo .videopart i {
  background-color: #e0d6d6;
  padding: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  color: red;
  top: 60%;
  left: 50%;
  font-size: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .valentine .quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 80px;
}

main .valentine .quote .title {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  padding-bottom: 20px;
}

main .valentine .quote .title span {
  color: red;
}

main .valentine .quote .context {
  padding-bottom: 20px;
  width: 550px;
}

main .valentine .quote .context p {
  margin-left: 5px;
  font-size: 16px;
  opacity: 50%;
  font-family: 'Lora',serif;
}

main .valentine .quote .hearticons .savethe, main .valentine .quote .hearticons .world {
  margin-top: 10px;
}

main .valentine .quote .hearticons .loveto span, main .valentine .quote .hearticons .savethe span, main .valentine .quote .hearticons .world span {
  margin-left: 5px;
  font-size: 16px;
  opacity: 50%;
  font-family: "Fuzzy Bubbles", cursive;
}

main #team {
  margin-top: 80px;
}

main #team .container .text .header {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
}

main #team .container .text .description {
  font-size: 17px;
  line-height: 29px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  max-width: 635px;
  min-width: 635px;
  margin: 0 auto;
}

main #team .container .row .member .name {
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-top: 20px;
  text-align: center;
  margin-right: 30px;
}

main #team .container .row .member .position {
  font-size: 12px;
  color: #afafaf;
  margin: 2px 0 4px;
  line-height: 24px;
  text-align: center;
  margin-right: 30px;
}

main #subscribe-field {
  margin-top: 170px;
  background-image: url("../photos/email-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 192px 0;
}

main #subscribe-field .container .text {
  margin: 0 0 30px;
}

main #subscribe-field .container .text p {
  font-size: 30px;
  line-height: 1.4em;
  font-family: "Playfair Display", serif;
  color: white;
}

main #subscribe-field .container .row .email .input {
  color: #959595;
  font-size: 12px;
  background-color: white;
  border-color: #e8e8e8;
  padding: 19px 18px;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 0;
  outline: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

main #subscribe-field .container .row .subscribe {
  margin-left: -25px;
}

main #subscribe-field .container .row .subscribe .button {
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  color: white;
  background-color: #ff3d2a;
  outline: 0;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  padding: 0px 42px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main #subscribe-field .container .row .subscribe .button:hover {
  background: #ff2f2f;
}

main #blog {
  background: #f7f7f7;
  padding: 100px 0;
}

main #blog .container .text .header {
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  margin: 0 0 19px;
}

main #blog .container .text .description {
  font-size: 17px;
  line-height: 29px;
  margin: 14px 0 0;
  font-family: "Lora", serif;
  color: #6d6a6a;
  max-width: 635px;
  min-width: 635px;
  margin: 0 auto;
}

main #blog .container .row .item .image {
  position: relative;
  width: 355px;
  overflow: hidden;
}

main #blog .container .row .item .image img {
  width: 355px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

main #blog .container .row .item .image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #blog .container .row .item .image .date {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 12px 16px 0px;
  height: 32px;
}

main #blog .container .row .item .image .date p {
  letter-spacing: 0.15em;
  color: #000;
  font-weight: 500;
  line-height: 1em;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

main #blog .container .row .item .image .date p:hover {
  color: #f34f3f;
}

main #blog .container .row .item .title {
  font-size: 22px;
  line-height: 1.363em;
  margin: 19px 0 3px;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

main #blog .container .row .item .info {
  margin: 12px 0 0;
  font-family: "Lora", serif;
  font-size: 15px;
  color: #6d6a6a;
  text-align: center;
}

main #carousel {
  background-color: #eceae1;
  margin-top: 80px;
}

main #footer {
  background-color: #fefaf3;
}

main #footer footer .container .upper-row {
  padding: 73px 0;
}

main #footer footer .container .upper-row ul .footer-top {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 23px;
}

main #footer footer .container .upper-row ul .footer-context {
  font-size: 12px;
  color: #6d6a6a;
  opacity: 0.5;
  line-height: 27px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

main #footer footer .container .upper-row ul .footer-context:hover {
  color: #f34f3f;
  opacity: 1;
}

main #footer footer .container .lower-row {
  border-top: 1px solid #eceae1;
}

main #footer footer .container .lower-row .byme {
  padding-top: 15px;
}

main #footer footer .container .lower-row .byme p {
  color: #afafaf;
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}

main #footer footer .container .lower-row .byme p span {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: #6d6a6a;
  cursor: pointer;
}

main #footer footer .container .lower-row .byme p span:hover {
  color: #f34f3f;
}

main #footer footer .container .lower-row .creditcard {
  padding-top: 17px;
  padding-left: 75px;
}

main #footer footer .container .lower-row .creditcard img {
  cursor: pointer;
}

main #footer footer .container .lower-row .socialmedia {
  padding-top: 15px;
  float: right;
}

main #footer footer .container .lower-row .socialmedia span {
  color: #afafaf;
  font-size: 10px;
  letter-spacing: 0.2em;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

main #footer footer .container .lower-row .socialmedia span:first-child {
  margin-right: 30px;
}

main #footer footer .container .lower-row .socialmedia span:hover {
  color: #f34f3f;
}

main #title {
  background-color: #fafaf9;
}

main #title .container-fluid .row {
  height: 228px;
}

main #title .container-fluid .row .text {
  height: 210px;
  padding: 75px 110px;
}

main #title .container-fluid .row .text p {
  margin: 0;
  color: #0e0e0e;
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
}

main #title .container-fluid .row .text .title-addit-text {
  margin: 8px 0 0;
  font-family: "Lora", serif;
  font-size: 17px;
  font-style: italic;
  letter-spacing: 0;
  color: #6d6a6a;
}

main #tabs .container .upper-row {
  padding: 100px 0;
}

main #tabs .container .upper-row .tab1 {
  margin-top: 50px;
}

main #tabs .container .upper-row .tab1 .option-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #tabs .container .upper-row .tab1 .option-header .header {
  border: 1px solid #eee;
  margin-right: -1px;
  cursor: pointer;
}

main #tabs .container .upper-row .tab1 .option-header .header:hover p {
  color: #f34f3f;
}

main #tabs .container .upper-row .tab1 .option-header .header p {
  margin: 0;
  line-height: 24px;
  padding: 15px 45px;
  color: #1b1b1b;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

main #tabs .container .upper-row .tab1 .option-header .active-header1 {
  background: #f34f3f;
}

main #tabs .container .upper-row .tab1 .option-header .active-header1 p {
  color: white !important;
}

main #tabs .container .upper-row .tab1 .option-context .context {
  padding: 75px 47px;
  border: 1px solid #eee;
  margin-top: -1px;
  min-height: 344px;
}

main #tabs .container .upper-row .tab1 .option-context .context p {
  margin: 0;
  line-height: 1.6em;
  font-family: "Lora", serif;
  color: #6d6a6a;
  font-size: 15px;
}

main #tabs .container .upper-row .tab1 .option-context .inactive {
  display: none;
}

main #tabs .container .upper-row .tab2 {
  margin-top: 50px;
}

main #tabs .container .upper-row .tab2 .option-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #tabs .container .upper-row .tab2 .option-header .header {
  background-color: #f6f6f6;
  border: 1px solid #eee;
  margin-right: -1px;
  -webkit-transition: red 0.2s ease-out;
  transition: red 0.2s ease-out;
  cursor: pointer;
}

main #tabs .container .upper-row .tab2 .option-header .header:hover {
  background: #f34f3f;
}

main #tabs .container .upper-row .tab2 .option-header .header:hover p {
  color: white;
}

main #tabs .container .upper-row .tab2 .option-header .header p {
  margin: 0;
  line-height: 24px;
  padding: 15px 45px;
  color: #1b1b1b;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

main #tabs .container .upper-row .tab2 .option-header .active-header1 {
  background: #f34f3f;
}

main #tabs .container .upper-row .tab2 .option-header .active-header1 p {
  color: white;
}

main #tabs .container .upper-row .tab2 .option-context .context {
  padding: 75px 47px;
  border: 1px solid #eee;
  margin-top: -1px;
  min-height: 344px;
}

main #tabs .container .upper-row .tab2 .option-context .context p {
  margin: 0;
  line-height: 1.6em;
  font-family: "Lora", serif;
  color: #6d6a6a;
  font-size: 15px;
}

main #tabs .container .upper-row .tab2 .option-context .inactive {
  display: none;
}

main #tabs .container .middle-row {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  border-top-color: #fafafa !important;
  border-top-style: solid !important;
  border-bottom-color: #fafafa !important;
  border-bottom-style: solid !important;
  padding: 100px 0;
}

main #tabs .container .middle-row .tab3 .option-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
}

main #tabs .container .middle-row .tab3 .option-header .header {
  margin: 0 31px 0 0;
  cursor: pointer;
}

main #tabs .container .middle-row .tab3 .option-header .header p {
  margin: 0;
  padding: 15px 45px;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

main #tabs .container .middle-row .tab3 .option-header .active-header2 p {
  color: #f34f3f;
}

main #tabs .container .middle-row .tab3 .option-context .context {
  border-bottom: 1px solid #eee;
  padding: 75px 0;
  min-height: 271px;
}

main #tabs .container .middle-row .tab3 .option-context .context p {
  margin: 0;
  line-height: 1.6em;
  font-family: "Lora", serif;
  font-size: 15px;
  color: #6d6a6a;
}

main #tabs .container .middle-row .tab3 .option-context .inactive {
  display: none;
}

main #tabs .container .lower-row {
  border-top-width: 1px !important;
  border-top-color: #fafafa !important;
  border-top-style: solid !important;
  padding: 100px 0;
}

main #tabs .container .lower-row .tab4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #tabs .container .lower-row .tab4 .option-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 155px;
}

main #tabs .container .lower-row .tab4 .option-header .header {
  width: 100%;
  border: 1px solid #eee;
  border-right: none;
  margin-bottom: -1px;
  text-align: center;
  -webkit-transition: red 0.2s ease-out;
  transition: red 0.2s ease-out;
  cursor: pointer;
}

main #tabs .container .lower-row .tab4 .option-header .header:hover {
  background: #f34f3f;
}

main #tabs .container .lower-row .tab4 .option-header .header:hover p {
  color: white;
}

main #tabs .container .lower-row .tab4 .option-header .header p {
  margin: 0;
  padding: 15px 0;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

main #tabs .container .lower-row .tab4 .option-header .active-header1 {
  background: #f34f3f;
}

main #tabs .container .lower-row .tab4 .option-header .active-header1 p {
  color: white;
}

main #tabs .container .lower-row .tab4 .option-context {
  width: 955px;
}

main #tabs .container .lower-row .tab4 .option-context .context {
  border: 1px solid #eee;
  padding: 13px 32px;
  min-height: 292px;
}

main #tabs .container .lower-row .tab4 .option-context .context p {
  margin: 0;
  line-height: 1.6em;
  font-family: "Lora", serif;
  font-size: 15px;
  color: #6d6a6a;
}

main #tabs .container .lower-row .tab4 .option-context .inactive {
  display: none;
}

main #product .container .row {
  padding: 100px 0;
}

main #product .container .row .product-images {
  position: relative;
}

main #product .container .row .product-images .main-image {
  position: relative;
  left: 128px;
  width: calc(100% - 145px);
}

main #product .container .row .product-images .main-image img {
  position: relative;
  width: 100%;
}

main #product .container .row .product-images .product-image {
  position: absolute;
  left: 0;
  padding: 0 0 20px;
}

main #product .container .row .product-images .product-image:nth-child(2) {
  top: 0;
  left: 0;
}

main #product .container .row .product-images .product-image:nth-child(3) {
  top: 165px;
  left: 0;
}

main #product .container .row .product-images .product-image:nth-child(4) {
  top: 329px;
  left: 0;
}

main #product .container .row .product-images .product-image:nth-child(5) {
  top: 496px;
  left: 0;
}

main #product .container .row .product-images .product-image img {
  overflow: hidden;
  width: 108px;
  height: 138px;
}

main #product .container .row .aside {
  margin-top: 60px;
}

main #product .container .row .aside .product-title {
  margin: 0;
  font-size: 38px;
  line-height: 1.447em;
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
}

main #product .container .row .aside .product-price {
  margin: 0;
  margin: 4px 0 0;
  line-height: 1;
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

main #product .container .row .aside .product-description {
  margin: 23px 0 32px;
  width: 100%;
}

main #product .container .row .aside .product-description p {
  margin: 0;
  line-height: 1.6em;
  font-family: "Lora", serif;
  font-size: 15px;
  color: #6d6a6a;
}

main #product .container .row .aside .product-shop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder {
  position: relative;
  border: 1px solid #eee;
  line-height: 50px;
  height: 51px;
  padding: 0 22px;
  margin: 0 -0.3em 0 0;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-label {
  font-size: 12px;
  margin-right: 92px;
  color: #999;
  line-height: 50px;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-arrow-left {
  color: #999;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-arrow-left i {
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-arrow-left i:hover {
  color: #f34f3f;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-input-field {
  color: #999;
  background-color: transparent;
  font-size: 14px;
  width: 27px;
  padding: 0;
  margin: 0;
  outline: 0;
  line-height: 18px;
  border: 0;
  background-color: transparent;
  text-align: center;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-arrow-right {
  color: #999;
  font-size: 16px;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-arrow-right i {
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

main #product .container .row .aside .product-shop .quantity-input-field-holder .quantity-arrow-right i:hover {
  color: #f34f3f;
}

main #product .container .row .aside .product-shop .product-add-to-cart-btn {
  background-color: #080808;
  padding: 14px 42px;
  outline: 0;
  border: 0;
  font-size: 12px;
  line-height: 1.833em;
  letter-spacing: 0.1em;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  margin-left: 5px;
}

main #product .container .row .aside .product-meta {
  margin: 32px 0 0;
}

main #product .container .row .aside .product-meta .sku {
  margin: 0;
  margin: 0 0 7px;
  color: #474747;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}

main #product .container .row .aside .product-meta .posted-in {
  margin: 0;
  margin: 0 0 7px;
  color: #474747;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}

main #product .container .row .aside .product-meta .tagged-as {
  margin: 0;
  margin: 0 0 7px;
  color: #474747;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=Flower-Shop-Design.css.map */